header {
    display: flex;
    justify-content: left;
    padding: 10px;
}

.HomeLayout {
    text-decoration: none;
    color: black;
}

.MenuLayout {
    flex: 1;
    text-align: left;
    color: black;
}

.ProfileLayout {
    flex: 1;
    text-align: right;
    color: black;
}



.faIcon {
    width: 18px;
    height: 18px;
}

main {
    display: flex;
    text-align: center;
}

.game-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 250px;
    text-decoration: none;
    color: black;
    background-color:gray;
}


.games-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.img_icon_url {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}


